<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    
    <!-- active Column -->
    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
    </ng-container>

    

    <!-- milestoneName Column -->
    <ng-container matColumnDef="milestoneName">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> MilestoneName </th>
        <td mat-cell *matCellDef="let element"> {{element.milestoneName}} </td>
    </ng-container>

    <!-- displaySec Column -->
    <ng-container matColumnDef="displaySec">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> DisplaySec </th>
        <td mat-cell *matCellDef="let element"> {{element.displaySec}} </td>
    </ng-container>

    <!-- progressStatus Column -->
    <ng-container matColumnDef="progressStatus">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> progressStatus </th>
        <td mat-cell *matCellDef="let element"> {{element.progressStatus}} </td>
    </ng-container>

   

    <ng-container matColumnDef="summer">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">Summer</th>
        <!-- This column doesn't generate <td> items, so no need to add a definition for them -->
    </ng-container>

    <ng-container matColumnDef="winter">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">winter</th>
        <!-- This column doesn't generate <td> items, so no need to add a definition for them -->
    </ng-container>

    <ng-container matColumnDef="tid">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> tid </th>
        <td mat-cell *matCellDef="let element"> {{element.tid}} </td>
    </ng-container>


    <!-- ptart Column -->
    <ng-container matColumnDef="pstart">
        <th mat-header-cell *matHeaderCellDef> pstart </th>
        <td mat-cell *matCellDef="let element"> {{element.pstart}} </td>
    </ng-container>

    <!-- pend Column -->
    <ng-container matColumnDef="pend">
        <th mat-header-cell *matHeaderCellDef> pend </th>
        <td mat-cell *matCellDef="let element"> {{element.pend}} </td>
    </ng-container>


    <!-- atart Column -->
    <ng-container matColumnDef="astart">
        <th mat-header-cell *matHeaderCellDef> astart </th>
        <td mat-cell *matCellDef="let element"> {{element.astart}} </td>
    </ng-container>
    <!-- aend Column -->
    <ng-container matColumnDef="aend">
        <th mat-header-cell *matHeaderCellDef> aend </th>
        <td mat-cell *matCellDef="let element"> {{element.aend}} </td>
    </ng-container>



    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-header-row
        *matHeaderRowDef="['active', 'milestoneName', 'displaySec', 'progressStatus','summer','winter','tid']"></tr>
    <tr mat-header-row *matHeaderRowDef="['pstart', 'pend', 'astart', 'aend']"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>